.c-together {
    background: #282828;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &__info {
        position: absolute;
        bottom: 38px;
        left: 48px;
        border: 1px solid #FFFFFF;
        border-radius: 60px;
        text-decoration: none;
        padding: 10px 16px;
        font-size: 14px;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        line-height: 1;
        svg {
            margin-left: 8px;

            path {
                transition: all .3s ease;
            }
        }

        &:hover {
            background: #fff;
            color: #000;

            svg {
                path {
                    fill: #000;
                }
            }
        }

        @media (max-width: 992px) {
            bottom: auto;
            top: 25px;
            right: 14px;
            left: auto;
        }
    }

    &__info-text {
        position: absolute;
        bottom: 100px;
        left: 48px;
        width: 320px;
        
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__blocks {
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 544px;
        margin-right: -16px;
        margin-top: -16px;

        @media (max-width: 992px) {
            width: calc(100% + 10px);
            margin-left: -5px;
            margin-right: -5px;
        }
    }

    &__blocks-item {
        width: 240px;
        height: 240px;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        padding: 24px 28px;
        margin: 16px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @media (max-width: 992px) {
            border-radius: 20px;
            width: calc(50% - 10px);
            height: 160px;
            margin: 5px;
            padding: 16px 20px;
        }
    }

    &__blocks-item-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.c-together-block {
    &__avatars {
        font-size: 0;

        img {
            position: relative;
            &:nth-child(2) {
                left: -14px;
            }
            &:nth-child(3) {
                left: -28px;
            }

            @media (max-width: 992px) {
                height: 35px;
            }
        }
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        margin-top: 8px;

        @media (max-width: 992px) {
            font-size: 16px;
        }
    }
    &__arrow {
        margin-top: auto;
        font-size: 0;
        img {
            transition: all .3s ease-in-out;
            position: relative;
            left: 0;
        }
    }

    &.is-disabled {
        opacity: .3;
    }

    &:hover {
        .c-together-block__arrow {
            img {
                left: 10px;
            }
        }
    }
}